<style>

  body {
    text-align: center;
  }

</style>


<h2>All Mechanics</h2>

<section class="mechanics-list">
  <% @mechanics.each do |mechanic| %>
    <%= link_to mechanic.name, "/mechanics/#{mechanic.id}" %> -
    <%= mechanic.years_of_exp %> years of experience<br>
  <% end %>
</section>
