<h2>All Mechanics</h2>

<section class="mechanics-list">
  <% @mechanics.each do |mechanic| %>
    <%= mechanic.name %> -
    <%= mechanic.years_of_exp %> years of experience<br>
  <% end %>
</section>
